body, html {
  background: rgb(238, 237, 237);
}

.container {
  width: 30%;
  margin: 0 auto;
}
.container > div {
  background: lightblue;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.add-task {
  background: none;
  justify-content: center;
}

[type=checkbox] {
  vertical-align: middle;
}
