@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body, html {
  background: #fff;
}

.container {
  width: 40%;
  margin: 0 auto;
}
.container > div {
  background: RGB(129, 157, 212);
  margin: 30px 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

div.add-task {
  background: none;
  justify-content: center;
}

[type=checkbox] {
  vertical-align: middle;
}
